<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.asd.mapper.ProductMapper">

	<resultMap id="userMap" type="com.tish.models.User">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="user_id" column="user_id" jdbcType="VARCHAR"/>
		<result property="device_id" column="device_id" jdbcType="VARCHAR"/>
	</resultMap>

</mapper>