<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Device</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

    <style>
        /* Main page container */
        .container {
            display: flex;
            height: 100%;
            min-height: 100vh;
        }

        /* To make the left sidebar fixed */
        .fixed-column {
            width: 300px;
        }

        .content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        /* To make the top navigation sticky */
        .top-navigation {
            background: #fff;
            position: sticky;
            right: 0;
            top: 0;
            width: 100%;
            box-shadow: 0 4px 16px #00000014;
            z-index: 100;
            height: 3rem;
        }

        /* Work area for statistic and management */
        .work-area {
            flex-grow: 1;
            flex-deirection: column;
        }

        /**/
        .left-logo {
            background: #fff;
            width: 100%;
            z-index: 100;
        }

        .left-menu {
            margin-left: 2rem;
        }

        /*.left-menu li:hover {
            border-bottom: solid 1px #000;
        }*/

        .left-menu li a:hover {
            color: red;
        }

        .left-content {
            padding-left: 2rem;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="fixed-column">
            <div class="left-logo d-flex align-items-center">
                <img th:src="@{/twitter_header_photo_1.png}" width="300" alt="logo">
            </div>
            <div class="navbar flex-column align-items-start left-content">
                <!-- Your left column content -->
                <!--<h2>Statistics</h2>-->
                <ul class="navbar-nav flex-column left-menu">
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="#" th:href="@{/conversion}">Conversion</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="javascript:void(0)">Devices</a>
                        <ul class="navbar-nav flex-column ps-3">
                            <li><a class="nav-link" href="#" th:href="@{/devices/type}">Types</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/devices/os}">OS</a></li>
                            <li><a class="nav-link active" href="#" th:href="@{/devices/browser}">Browser</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="javascript:void(0)">Location</a>
                        <ul class="navbar-nav flex-column ps-3">
                            <li><a class="nav-link" href="#" th:href="@{/location/country}">Countries</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/location/city}">Cities</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="javascript:void(0)">Users</a>
                        <ul class="navbar-nav flex-column ps-3">
                            <li><a class="nav-link" href="#" th:href="@{/users/ratio}">Global Frequency</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/users/user-page-visit}">Page`s Frequency</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="javascript:void(0)">Visits</a>
                        <ul class="navbar-nav flex-column ps-3">
                            <li><a class="nav-link" href="#" th:href="@{/visits/amount}">Global Frequency</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/visit-time/avg-time-period}">Average Visit`s
                                Time</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/visit-time/avg-page-period}">Average Page`s
                                Time</a></li>
                            <li><a class="nav-link" href="#" th:href="@{/visit-time/cancellation}">Cancellation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="top-navigation p-4">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/conversion}">Statistics</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class=" btn btn-light dropdown-toggle" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            Account
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#" th:href="@{/account/profile}">Profile</a></li>
                                            <li><a class="dropdown-item" href="#" th:href="@{/account/logout(login=${accountLogin})}">Log out</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="work-area d-flex flex-column p-5">
                <div class="work-header d-flex justify-content-center mb-4 mt-6 fs-2">Device Browser Statistics</div>
                <div class="d-flex justify-content-center mb-4">
                    <form class="d-flex" th:action="@{/devices/browser}" th:object="${settings}" method="post">
                        <select class="form-select me-2 border border-secondary" aria-label="Current app"
                                th:field="*{webApp}">
                            <option value="app1" selected>app1</option>
                            <option value="app2">app2</option>
                        </select>
                        <select class="form-select me-2 border border-secondary" aria-label="Chart type"
                                th:field="*{chartType}">
                            <option value="pie" selected>Pie Chart</option>
                            <option value="x bar">Vertical Bar</option>
                            <option value="y bar">Horizontal Bar</option>
                            <option value="polarArea">Polar Area Chart</option>
                        </select>
                        <div class="btn-group me-2" role="group" aria-label="Data type checkbox group">
                            <input type="checkbox" value="value" class="btn-check" id="btn_check_value"
                                   autocomplete="off" checked
                                   th:field="*{dataTypes[0]}">
                            <label class="btn btn-outline-secondary" for="btn_check_value">Values</label>

                            <input type="checkbox" value="percent" class="btn-check" id="btn_check_percent"
                                   autocomplete="off"
                                   th:field="*{dataTypes[1]}">
                            <label class="btn btn-outline-secondary" for="btn_check_percent">Percents</label>
                        </div>
                        <input type="text" class="form-control me-2 text-center border border-secondary"
                               style="width: 12rem" name="dateRangePicker" aria-describedby="">
                        <input type="hidden" name="startDate" aria-describedby="" value="" id="startDate"
                               th:field="*{startDate}">
                        <input type="hidden" name="endDate" aria-describedby="" value="" id="endDate"
                               th:field="*{endDate}">
                        <!--<div class="btn-group me-2" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="radio" class="btn-check" name="chart-interval" id="btncheck3"
                                   autocomplete="off" checked>
                            <label class="btn btn-outline-secondary" for="btncheck3">Month</label>

                            <input type="radio" class="btn-check" name="chart-interval" id="btncheck4"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btncheck4">Year</label>
                        </div>-->
                        <input type="submit" value="Update chart" class="btn btn-secondary">
                    </form>
                </div>
                <div class="d-flex justify-content-center">
                    <canvas id="myValChart"></canvas>
                </div>
                <div class="d-flex justify-content-center">
                    <canvas id="myPerChart"></canvas>
                </div>
                <!-- Your bottom block content -->
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            $('input[name="dateRangePicker"]').daterangepicker({
                startDate: [[${settings.startDate}]],
                endDate: [[${settings.endDate}]],
                locale: {
                    format: 'YYYY.M.DD'
                }
            });

        });

        $('input[name="dateRangePicker"]').on('apply.daterangepicker', function (ev, picker) {
            $('#startDate').val(picker.startDate.format("YYYY-MM-DD"));
            $('#endDate').val(picker.endDate.format("YYYY-MM-DD"));
        });

        var type = [[${type}]];
        var axis = [[${axis}]];
        var labels = [[${labels}]];

        var dataType = [[${dataType}]];

        function getChart(ctx, data, label) {
            return new Chart(ctx, {
                data: {
                    labels: labels,
                    datasets: [{
                        type: type,
                        label: label,
                        data: data
                    }]
                },
                options: {
                    indexAxis: axis
                }
            });
        }

        if (!Array.isArray(dataType)) {
            if (dataType === 'value') {
                var values = [[${values}]];
                var ctx = document.getElementById("myValChart").getContext("2d");
                var myValChart = getChart(ctx, values, "Browser values");
            } else {
                var percent = [[${percent}]];
                var ctx = document.getElementById("myPerChart").getContext("2d");
                var myPerChart = getChart(ctx, percent, "Browser percents");
            }
        } else {
            var values = [[${values}]];
            var percent = [[${percent}]];
            var ctx = document.getElementById("myValChart").getContext("2d");
            var myValChart = getChart(ctx, values, "Browser values");
            var ctx = document.getElementById("myPerChart").getContext("2d");
            var myPerChart = getChart(ctx, percent, "Browser percents");
        }
    </script>

</body>
</html>