<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h2>Statistics</h2>-->
<ul class="navbar-nav flex-column left-menu" th:fragment="leftnav">
  <li class="nav-item mb-2">
    <a class="nav-link active" href="#" th:href="@{/conversion}">Conversion</a>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="javascript:void(0)">Devices</a>
    <ul class="navbar-nav flex-column ps-3">
      <li><a class="nav-link" href="#" th:href="@{/devices/type}">Types</a></li>
      <li><a class="nav-link" href="#" th:href="@{/devices/os}">OS</a></li>
      <li><a class="nav-link" href="#" th:href="@{/devices/browser}">Browser</a></li>
    </ul>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="javascript:void(0)">Location</a>
    <ul class="navbar-nav flex-column ps-3">
      <li><a class="nav-link" href="#" th:href="@{/location/country}">Countries</a></li>
      <li><a class="nav-link" href="#" th:href="@{/location/city}">Cities</a></li>
    </ul>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="javascript:void(0)">Users</a>
    <ul class="navbar-nav flex-column ps-3">
      <li><a class="nav-link" href="#" th:href="@{/users/ratio}">Global Frequency</a></li>
      <li><a class="nav-link" href="#" th:href="@{/users/user-page-visit}">Page`s Frequency</a>
      </li>
    </ul>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="javascript:void(0)">Visits</a>
    <ul class="navbar-nav flex-column ps-3">
      <li><a class="nav-link" href="#" th:href="@{/visits/amount}">Global Frequency</a></li>
      <li><a class="nav-link" href="#" th:href="@{/visit-time/avg-time-period}">Average Visit`s
        Time</a></li>
      <li><a class="nav-link" href="#" th:href="@{/visit-time/avg-page-period}">Average Page`s
        Time</a></li>
      <li><a class="nav-link" href="#" th:href="@{/visit-time/cancellation}">Cancellation</a></li>
    </ul>
  </li>
</ul>

</body>
</html>