<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
    <header>
        <div id="right-side">
            <a href="#">Account Name</a>
        </div>
    </header>

    <div id="base">
        <!--Меню типов статистики всегда слева. Текущая страница статистики выделена-->
        <div id="menu">
            Add menu list;
        </div>
        <!--Блок настроек конкретного запроса и результата в виде графика(ов)-->
        <div>
            <!--Параметры запроса-->
            <div style="border-color: blue; border-width: thin; border-style: solid">
                <h3 class="row-middle">Statistics settings</h3>
                <!--Параметры разместить горизонтально-->
                <div>
                    <label>Chart types
                        <select required>
                            <option value="" disabled selected>Select chart type</option>
                            <option>Bar chart</option>
                            <option>Pie chart</option>
                            <option>Radar chart</option>
                        </select>
                    </label>
                    <div>
                        <h4> Time period</h4>
                        <label>Start date
                            <div>Add bootstrap datepicker</div>
                        </label>
                        <label>End date
                            <div>Add bootstrap datepicker</div>
                        </label>
                    </div>
                    <div>
                        <fieldset>
                            <legend>Period type</legend>
                            <input type="radio" id="month" name="period" value="month" checked/>
                            <label for="month">Months</label>
                            <input type="radio" id="year" name="period" value="year"/>
                            <label for="year">Years</label>
                        </fieldset>
                    </div>

                </div>
            </div>

            <!--График(и) разместить горизонтально не больше двух в строке. Прокручивать страницу в право и вниз?-->
            <div>
                <img src="../static/images/bar_example.png" height="400">
                <img src="../static/images/chart_example.png" width="400" height="400">
            </div>

        </div>

    </div>
</body>
</html>